* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(99, 126, 123);
}

/* Header */

h1 { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-weight: bolder;
    padding: 30px;
}

.header nav { 
    padding-top: 15px;
    margin-right: 20px;
}

.header li { 
    padding: 10px;
}

.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../Images/teal/background.jpeg");
    background-size: cover;
    background-position: center;
}

/* Navigation Links */
nav a { 
    padding: 20px;
    text-decoration: underline 3px;
    color: black;
}

nav {  
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
}

li { 
    display: inline;
}

nav a:hover { 
    background-color: blanchedalmond;
    color: cadetblue;
}

/* Horizontal Line Break */
hr { 
    border: 3px solid black;
}

/* About Me */

h2 {
    text-align: left;
    font-size: xx-large;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
    flex: 0 0 15%;

}

#align-right {
    flex: 0 0 85%;
    text-align: right;
    align-items: center;
}

#align-left {
    flex: 0 0 15%;
    align-items: center;
}

p {
    font-size: 20px;
}








/* Footer */
.contact-information { 
    text-align: center;
}

.footer li { 
    padding: 20px;
}

@media screen and (max-width: 760px) { 
    p {
        font-size: 1.5rem;
        line-height: 1.5;
    }
}

@media screen and (max-width: 600px) { 
    p {
        font-size: 1.25rem;
    }
}

