body {
    background-color: rgb(99, 126, 123);
}

.profile-pic img {
   width: 25%;
   height: auto;
   border-radius: 20%;
   padding: 20px;
}

.banner img {
    width: 100%;
    height: 20px;
}

p {
    float: right;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
}

li {
    display: inline;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    list-style: none;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-item {
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
}

#about-me {
    float: left;
}

h2 {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

hr {
    border: 3px solid black;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-weight: bolder;
}

.contact-information {
    text-align: center;
}

@media (max-width: 800px) {
    p {
        font-size: 1.5rem;
        line-height: 1.5;
    }
}

@media (max-width: 600px) {
    p {
        font-size: 1.25rem;
    }
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
}

.header li, {
    padding: 10px;
}

.footer li {
    padding: 20px;
}
